[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
pydantic-settings = "*"
python-dotenv = "*"
sentence-transformers = "*"
python-terrier = "*"
google-cloud-storage = "*"
datasets = "*"
pandas = "*"
google-cloud-secret-manager = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.12"

[scripts]
dev = "fastapi dev app/main.py"
prod = "fastapi run app/main.py"
pre-commit-install = "pre-commit install"
pre-commit-run = "pre-commit run"
